build/debian/res/fonts/maple
build/kali/res/fonts/maple
build/toolkit-2026-01-21.tar.gz
**/.Xauthority
root/home/public/.icons/Papirus-Dark/*
root/home/public/.local/share/fcitx5
root/home/kali
root/home/debian